body{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #photo-container{
    width: 500px;
    height: 250px;
    margin: 10px auto;
    overflow: hidden;
  }
  #photos{
    width: 2500px;
    height: 100%;
    cursor: pointer;
  
    display: flex;
    transition: all 1s;
  
  
  }
  .photo{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .photo img{
    width: 100%;
    height: 100%;
  }
  
  #selection{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .options{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: lawngreen;
    transition: all 0.7s;
  }
  .options:hover{
    background-color: greenyellow;
    cursor: pointer;
  }
  