#box_box{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid coral;
    background: white;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: peru;
    background-image: url('clock-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}