body{
    margin: 0;
    padding: 0;
}
#file-input{
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    display: none;
}
#img-box{
    width: 200px;
    height: 250px;
    overflow: hidden;

    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%);
}
#img-box img{
    width: 25%;
    height: 200%;
}
#upload{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}